%p#notice= notice
%p
  %strong Name:
  = @group.name
%p
  %strong Remark:
  = @group.remark
%p
  %strong Start at:
  = @group.start_at
%p
  %strong Finish at:
  = @group.finish_at
= link_to 'Edit', edit_group_path(@group)
|
\#{link_to 'Back', groups_path}
