%p#notice= notice
%p
  %strong Name:
  = @activity.name
%p
  %strong Remark:
  = @activity.remark
%p
  %strong Start at:
  = @activity.start_at
%p
  %strong Finish at:
  = @activity.finish_at
= link_to 'Edit', edit_activity_path(@activity)
|
\#{link_to 'Back', activities_path}
